<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {% include "partial/nav.njk" %}
    {% block content %}
    {% endblock %}
    {% include "partial/footer.njk" %}
  </body>
</html>
